<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
tu edytujemy slot
<form th:method="PATCH" th:action="@{/teacher/slots/edit}" th:object="${slot}">
    <input type="hidden" th:field="*{id}"/>

    <label for="day">Wybierz dzień:</label>
    <select th:field="*{dayName.id}">
        <option th:each="day : ${days}" th:value="${day.id}" th:text="${day.name}" id="day"></option>
    </select>
    <br>

    <label for="time">Godzina:</label>
    <input type="time" th:field="*{time}" id="time"/>
    <br>
    <!--    <div>-->
    <!--        <label th:for="isBooked" th:text="'Is Booked:'"></label>-->
    <!--        <input type="checkbox" th:field="*{isBooked}"/>-->
    <!--    </div>-->


    <!--    <label for="students">Wybierz studenta:</label>-->
    <!--    <select th:field="*{regularStudent.id}">-->
    <!--        <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.name}" id="students">-->
    <!--        </option>-->
    <!--    </select>-->
    <!--    <br>-->
    <!--    <div>-->
    <!--        <label th:for="isOnceFree" th:text="'Is once free:'"></label>-->
    <!--        <input type="checkbox" th:field="*{isOnceFree}"/>-->
    <!--    </div>-->
    <!--    <input type="hidden" th:value="${oldDayNameId}"/>-->

    <!--    <input type="date" th:value="*{date}" th:field="*{date}" />-->

    <input type="submit" value="SAVE"/>
</form>
</body>
</html>