<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Tu dodajemy nowy slot:

<form th:method="post" th:action="@{/teacher/slots/new}" th:object="${slot}">

    <label for="dayss">Wybierz dzień druga opcja:</label>
    <select th:field="*{dayOfWeek}">
        <option th:each="day : ${T(pl.dinosauruski.slot.DAY_OF_WEEK).values()}"
                th:value="${day}" th:text="${day.translation}" id="dayss"></option>
    </select>

    <label for="time">Godzina:</label>
    <input type="time" th:field="*{time}" id="time">

    <input type="submit" value="SAVE">
</form>
</body>
</html>