<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head  lang="pl">
    <meta charset="UTF-8">
<!--    <meta http-equiv=“Content-Type” content=“text/html; charset=UTF-8"/>-->
    <title>Dinosauruski</title>
</head>
<body>
<h1>Witamy na Dinosauruski!</h1>
<p>Zaloguj się</p>
<form th:method="POST" th:action="@{/login}">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <br>
    <input type="submit" value="ZALOGUJ SIĘ">
</form>
<p></p>
<a th:href="@{/new}">Nie masz konta? Zarejestruj się</a>
</body>
</html>