<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<p>
    Witaj, <span th:text="${teacher.id}"></span>
    Tutaj możesz zobaczyć swój kalendarz i wygenerować plan lekcji.
    <!--<a th:href="@{/teacher/calendar/generate}">WYGENERUJ PLAN LEKCJI NA TEN TYDZIEŃ</a>-->


<h3>AKTUALNY PLAN</h3>

<!--<p th:if="${isGenerated}==false">-->
<!--    Dodaj wolne terminy, przypisz do nich studentów,-->
<!--    następnie wygeneruj plan na bieżący tydzień-->
<!--    <br>-->
<!--    <a th:href="@{/teacher/calendar/generate}">WYGENERUJ PLAN LEKCJI NA TEN TYDZIEŃ</a>-->
<!--</p>-->
Dodaj wolne terminy, przypisz do nich studentów,-->
następnie wygeneruj plan na bieżący tydzień
<br>
<div th:if="${isGenerated}==false">
    <form th:method="GET" th:action="@{/teacher/calendar/generate/{year}/{week}(week=${week}, year=${year})}">
        <input type="hidden" th:name="index" th:value="true">
        <input type="submit" value="WYGENERUJ PLAN LEKCJI NA TEN TYDZIEŃ">
    </form>
</div>


<table th:if="${isGenerated}==true">
    <tr>
        <th>DAY</th>
        <th>TIME</th>
        <th>DATE</th>
        <th>STUDENT</th>
    </tr>
    <tr th:each="lesson : ${thisWeekLessons}">
        <td th:text="${lesson.slot.dayOfWeek.translation}">time</td>
        <td th:text="${lesson.slot.time}">day name</td>
        <td th:text="${lesson.date}">BOOKED</td>
        <td th:text="${lesson.student.name}">FREE</td>
    </tr>
</table>

<div th:if="${isNextGenerated}==false">
    <form th:method="GET" th:action="@{/teacher/calendar/generate/{year}/{week}(week=${nextWeek}, year=${nextYear})}">
        <!--    <input type="hidden" th:name="${index}">-->
        <input type="submit" value="WYGENERUJ NASTĘPNY TYDZIEŃ">
    </form>
</div>

<table th:if="${isNextGenerated}==true">
    <tr>
        <th>DAY</th>
        <th>TIME</th>
        <th>DATE</th>
        <th>STUDENT</th>
    </tr>
    <tr th:each="lesson : ${nextWeekLessons}">
        <td th:text="${lesson.slot.dayOfWeek.translation}">time</td>
        <td th:text="${lesson.slot.time}">day name</td>
        <td th:text="${lesson.date}">BOOKED</td>
        <td th:text="${lesson.student.name}">FREE</td>
    </tr>
</table>

<h3 th:text="${year}"></h3>
<div th:each="instance : ${months}">

    <a th:href="@{/teacher/calendar/{month}/{year}(month=${instance.key}, year=${year})}"> <span
            th:text="${instance.value}"></span></a>
</div>
<p>
    <a th:href="@{/teacher/cockpit}">Return to cockpit</a>
</p>

</body>
</html>