<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<title>Profil studenta</title>
</head>

<body class="bg-dark">

<header th:insert="fragments/general.html :: header"></header>

<div class="container-fluid pl-0">
    <div class="row">

        <div class="col-sm-3 px-0">
            <nav class="nav flex-column nav-pills list-group  ml-0">
                <a class="nav-link  list-group-item  text-white bg-secondary py-5 px-5"
                   th:href="@{/teacher/cockpit}"><h3>
                    AKTUALNY PLAN</h3>
                </a>
                <a class="nav-link list-group-item  text-white bg-secondary py-5 px-5"
                   th:href="@{/teacher/calendar}"><h3>KALENDARZ</h3>
                </a>
                <a class="nav-link list-group-item  text-white bg-secondary py-5 px-5"
                   th:href="@{/teacher/payments}"><h3>OPŁATY</h3>
                </a>
                <a class="nav-link list-group-item  text-white bg-dark py-5 px-5"
                   th:href="@{/teacher/students}"><h3>STUDENCI</h3>
                </a>
                <a class="nav-link  disabled text-dark  bg-secondary  py-5 px-5" href="#" tabindex="-1"
                   aria-disabled="true">MATERIAŁY</a>
                <a class="nav-link disabled text-dark bg-secondary py-5 px-5" href="#" tabindex="-1"
                   aria-disabled="true">STATYSTYKI</a>

            </nav>
        </div>


        <div class="col-sm-9 text-white bg-dark pl-5 pb-5">
            <a class="btn btn-info text-uppercase mb-5" th:href="@{/teacher/students}"> Wróć do listy</a>
            <h1 th:text="${student.name}+' '+${student.surname}">Imię i nazwisko</h1>
            <!--            <h1 th:text="${student.surname}">Nazwisko</h1>-->
            <p th:text="${student.email}">email</p>
            <!--            <p th:text="${student.active} ? 'AKTYWNY' : 'ZAWIESZONY'"></p>-->
            <div th:if="${student.active}==true">
                <span class="badge badge-success text-uppercase px-5 ">Aktywny</span>
            </div>

            <div th:if="${student.active}==false">
                <span class="badge badge-danger text-uppercase px-5 ">Zawieszony</span>
            </div>


            <p th:text="${student.priceForOneLesson}+' zł'">cena</p>
            <a th:href="@{/teacher/students/edit/{id}(id=${student.getId()})}" class="btn btn-warning text-uppercase">
                edytuj dane personalne</a>


            <div th:each="slot : ${slots}">
                <div th:if="${slot.archived}==true">
                    <span class="badge badge-secondary" th:text="${slot.dayOfWeek.translation} + ' ' + ${slot.time}">dzień tygodnia</span>
                    <span class="text-secondary">archive</span>
                </div>
                <div th:if="${slot.archived}==false">
                    <span class="badge badge-info" th:text="${slot.dayOfWeek.translation} + ' ' + ${slot.time}">dzień tygodnia</span>
                </div>
            </div>

            <div th:if="${student.active} == true"><a
                    th:href="@{/teacher/slots/booking/{studentId}(studentId=${student.getId()})}"
                    class="btn btn-warning text-uppercase"> Edytuj stały termin </a>
            </div>


            <h5 class="text-uppercase"> Zaplanowane lekcje w tym miesiącu: <span
                    th:text="${countPlannedThisMonth}">X</span></h5>
            <div th:each="lesson : ${plannedLessonThisMonth}">

                <div th:if="${lesson.paid}==true">
                    <a class="badge badge-success"
                       th:href="@{/teacher/calendar/lessons/{id}(id=${lesson.getId()})}">
                        <span th:text="${lesson.date} + ' ' +${lesson.slot.dayOfWeek.translation} + ' '+ ${lesson.slot.time}">data</span></a>
                    <span class="text-success">lekcja opłacona</span>
                </div>
                <div th:if="${lesson.paid}==false">
                    <a class="badge badge-danger"
                       th:href="@{/teacher/calendar/lessons/{id}(id=${lesson.getId()})}">
                        <span th:text="${lesson.date} + ' ' +${lesson.slot.dayOfWeek.translation} + ' '+ ${lesson.slot.time}">data</span></a>
                </div>
            </div>

            <h5 class="text-uppercase"> lekcje do opłacenia do końca nastepnego miesiąca: <span></span>
                <span th:text="${countNotPaidNextMonth}"></span></h5>
            <div th:each="lesson : ${notPaidLessonsNextMonth}">
                <div>
                    <a class="badge badge-danger"
                       th:href="@{/teacher/calendar/lessons/{id}(id=${lesson.getId()})}">
                        <span th:text="${lesson.date} + ' ' +${lesson.slot.dayOfWeek.translation} + ' '+ ${lesson.slot.time}">data</span></a>
                </div>
            </div>

            <h6>Nadpłata:</h6>
            <p><span th:text="${overPayment}">x </span> zł.</p>
            <p>Do opłaty wszystkich lekcji w następnym miesiącu brakuje: <span th:text="${requiredPayment}">x </span>
                zł.
            </p>

            <div th:if="${student.active}==true">
                <a class="btn btn-danger text-uppercase"
                   th:href="@{/teacher/students/submit/{id}(id=${student.getId()})}"> Zawieś studenta</a>
            </div>

            <div th:if="${student.active}==false">
                <a class="btn btn-danger text-uppercase"
                   th:href="@{/teacher/students/activate/{id}(id=${student.getId()})}"> Aktywuj studenta</a>
            </div>

        </div>
    </div>
</div>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>


<body>

</body>
</html>