<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1 th:text="${student.name}"></h1>
<h1 th:text="${student.surname}"></h1>
<p th:text="${student.email}"></p>
<p th:text="${student.active} ? 'AKTYWNY' : 'ZAWIESZONY'"></p>
<p th:text="${student.priceForOneLesson}"></p>
<p><a th:href="@{/teacher/students/edit/{id}(id=${student.getId()})}"> edytuj dane personalne</a></p>

<span>--------------------------</span>

<div th:each="slot : ${slots}">
    <p th:text="${slot.dayOfWeek.translation}">day</p>
    <p th:text="${slot.time}">day</p>

</div>
<p><a th:href="@{/teacher/slots/booking/{studentId}(studentId=${student.getId()})}"> DODAJ LUB USUŃ STAŁY TERMIN</a></p>
<span>--------------------------</span>

<h3> Zaplaonowane lekcje w tym miesiącu: </h3>
<p th:text="${countPlannedThisMonth}"></p>
<div th:each="lesson : ${plannedLessonThisMonth}">
    <p>
        <span th:text="${lesson.date}">day</span>
        <span th:text="${lesson.dayOfWeek.translation}">day</span>
        <span th:text="${lesson.time}">day</span>
        <span th:if="${lesson.requiredPayment}==false">lekcja opłacona</span>
    </p>
</div>

<h3> lekcje do opłacenia: </h3>
<p th:text="${countNotPaidNextMonth}"></p>
<div th:each="lesson : ${notPaidLessonsNextMonth}">
    <p>
        <span th:text="${lesson.date}">day</span>
        <span th:text="${lesson.dayOfWeek.translation}">day</span>
        <span th:text="${lesson.time}">day</span>

    </p>
</div>

<h3>Twoja portmonetka:</h3>
<p>Masz na koncie <span th:text="${overPayment}"></span> zł. Wykorzystaj je do opłaty lekcji w następnym miesiącu </p>
<p>Do opłaty wszystkich lekcji w następnym miesiącu brakuje: <span th:text="${requiredPayment}"></span></p>

<span>--------------------------</span>
<p><a th:href="@{/teacher/students/submit/{id}(id=${student.getId()})}"> usuń studenta</a></p>

<span>--------------------------</span>
<p><a th:href="@{/teacher/students}"> WRÓĆ</a></p>
</body>
</html>