<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title></title>
</head>
<body>
Witaj, <span th:text="${teacher.getName()}"></span>
<br>
<a th:href="@{/teacher/edit/{id}(id=${teacher.getId()})}">EDYTUJ PROFIL</a>
<br>
<a th:href="@{/teacher/logout}">WYLOGUJ SIĘ</a>
<br>
<a th:href="@{/teacher/submit/{id}(id=${teacher.getId()})}">USUŃ KONTO</a>

<span>------------------------------------------------</span>
<h3>AKTUALNY PLAN</h3>
<span>------------------------------------------------</span>
<h3>KALENDARZ</h3>
<span>------------------------------------------------</span>
<h3>OPŁATY</h3>
<span>------------------------------------------------</span>

<a th:href="@{/teacher/students}"><h3>STUDENCI</h3></a>
<span>------------------------------------------------</span>
<h4> DOSTĘPNE WOLNE TERMINY:</h4>
<table>
    <tr>
        <th>DAY</th>
        <th>TIME</th>
        <th>STATUS</th>
    </tr>
    <tr th:each="slot : ${freeSlots}">
        <td th:text="${slot.dayName.name}">day name</td>
        <td th:text="${slot.time}">time</td>

        <td th:if="${slot.getBooked()} == true">BOOKED</td>
        <td th:if="${slot.getBooked()} == false">FREE</td>

    </tr>
</table>
<a th:href="@{/slots}">ZARZĄDZAJ SLOTAMI</a>
</body>
</html>