<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Witaj, <span th:text="${teacher.getName()}"></span>
<br>
<a th:href="@{/teacher/{id}/edit(id=${teacher.getId()})}">edytuj profil</a>
<br>
<a th:href="@{/teacher/logout}">wyloguj się</a>
<br>
<a th:href="@{/teacher/submit/{id}(id=${teacher.getId()})}">DELETE</a>

<span>------------------------------------------------</span>
<h3>AKTUALNY PLAN</h3>
<span>------------------------------------------------</span>
<h3>KALENDARZ</h3>
<span>------------------------------------------------</span>
<h3>OPŁATY</h3>
<span>------------------------------------------------</span>
<h3>STUDENCI</h3>
<span>------------------------------------------------</span>

<a th:href=""></a>
</body>
</html>