<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:method="PATCH" th:action="@{/teacher/{id}(id=${teacher.getId()})}" th:object="${teacher}">
    <label for="name">Imię:</label>
    <input type="text" th:field="*{name}" id="name">
    <p class="error" th:errors="*{name}"></p>
    <br>
    <label for="surname">Nazwisko:</label>
    <input type="text" th:field="*{surname}" id="surname">
        <p class="error" th:errors="*{surname}"></p>
    <br>
    <label for="nickname">Podaj pseudonim. Tak będą Cię widzieć inni użytkownicy:</label>
    <input type="text" th:field="*{nickname}" id="nickname">
    <br>
    <input type="submit" value="SAVE">
</form>
</body>
</html>