<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registracja nauczyciela</title>
</head>
<body>


<form th:method="POST" th:action="@{/new}" th:object="${teacher}">
    <label for="name">Imię:</label>
    <input type="text" th:field="*{name}" id="name">
    <p class="error" th:errors="*{name}"></p>
    <br>
    <label for="surname">Nazwisko:</label>
    <input type="text" th:field="*{surname}" id="surname">
    <p class="error" th:errors="*{surname}"></p>
    <br>
    <label for="nickname">Podaj pseudonim. Tak będą Cię widzieć inni użytkownicy:</label>
    <input type="text" th:field="*{nickname}" id="nickname">
    <br>
    <label for="email">Podaj adres e-mail:</label>
    <input type="email" th:field="*{email}" id="email">
    <p class="error" th:errors="*{email}"></p>
    <br>
      <label for="password">Wymyśl hasło:</label>
    <input type="password" th:field="*{password}" id="password">
    <p class="error" th:errors="*{password}"></p>
    <br>
        <label for="repeatPassword">Powtórz hasło:</label>
        <input type="password" th:field="*{repeatPassword}" id="repeatPassword">
        <p th:text="${passwordError}"></p>
        <br>
    <input type="submit" value="SAVE">
</form>


</body>
</html>